@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import "tailwindcss";

/* Variables globales */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Appliquer la police */
@layer base {
  html {
    font-family: 'Archivo', sans-serif; /* Texte courant */
  }

  h1, h2, h3, .font-archivo-black {
    font-family: 'Archivo Black', sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
